@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }



.border_test {
    border: 1px solid red;
}

.bkg_theme {
  @apply bg-dark dark:bg-light text-light dark:text-black
}

.button_theme {
  @apply bg-dark hover:bg-light dark:bg-light dark:hover:bg-dark
	text-light hover:text-dark dark:text-black dark:hover:text-light
  border-2 border-solid border-transparent hover:border-dark dark:hover:border-light/50
}

